:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --link-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --hero-color: #ffffff;
  --hero-background: #2f303a;
  --link-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  font-style: 400;
}

ul {
  list-style: none;
}

.address {
  font-style: normal;
}

.hero-background {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: var(--hero-background);
}

.logo-web-part,
.logo-studio-part {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}
.logo-studio-part {
  font-family: var(--secondary-font);
  color: var(--logo-color);
}

.logo-studio-part-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--hero-color);
}
.address-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--link-color);
}
.address-link:hover,
.address-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.hero {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}
.link {
  text-decoration: none;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.modal-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-color);
}
.advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--link-color);
}
.duties,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.team-member-name {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.tem-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--link-color);
}

.address-footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--hero-color);
}

.contact-link,
.contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--link-footer-color);
}
.contact-link:hover,
.contact-link:focus,
.contact-tel:hover,
.contact-tel:focus,
.address-footer-link:hover,
.address-footer-link:focus {
  color: var(--accent-color);
}

.footer-background {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 4097px;

  background: var(--hero-background);
}

/*======== PORTFOLIO ========*/

.heroportfolio-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;

  color: var(--hero-color);
}

.portfolio-modal-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-modal-button:hover,
.portfolio-modal-button:focus {
  background-color: var(--accent-color);
  color: var(--hero-color);
}
.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.project-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  color: var(--link-color);
}

.project-list-link {
  text-decoration: none;
}
